body{
    overflow-x: hidden;
}

.about-banner-wrapper {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-banner,
.about-des {
    flex: 1;
    height: 100%;

}

.about-banner {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.about-img-wrapper {
    width: 700px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
}


.about-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-des {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #000000;
    gap: 10px;
}

.about-des :nth-child(1) {
    font-size: clamp(40px, 3vw, 50px);
    font-weight: bolder;
    line-height: 1.1em;
    width: 70%;
}

.about-des :nth-child(2) {
    color: #15605C;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: bold;
}

.about-motto {
    height: 600px;
    border: 1px solid black;
    margin-top: -120px;
    position: relative;
}

.about-motto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-motto p {
    font-size: clamp(24px, 3vw, 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #FFFFFF;
    z-index: 3;
    width: 70%;
    text-align: center;
}

.whitespace {
    height: 50px;
}

.Inauguration-container {
    display: flex;
    width: 100%;
    padding: 0 50px;
    gap: 50px;
}

.Inauguration-title{
    font-weight: bolder;
    font-size: clamp(35px, 3vw, 48px);
    text-align: center;
}

.Inauguration-image,
.Inauguration-text {
    flex: 1;
}


.Inauguration-image {
    position: sticky;
    top: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.2;
}

.Inauguration-image img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;

}

.Inauguration-text {
    padding-right: 20px;
    font-size: clamp(22px,3vw,26px);
    font-weight: lighter;
    margin: 40px 0;
}

.Inauguration-text p{
    width: 80%;
    margin: 20px 0;
    line-height: 1.5em;
    letter-spacing: 1px;
}