/* .motto-wrapper{
    height: 70vh;
    background: #006443;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-section{
    width: 60%;
    height: 60%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.motto-section .motto-topic{
    font-size: clamp(60px,3vw,70px);
    font-weight: bold;
}

.motto-des{
    font-size: clamp(24px,3vw,35px);
    line-height: 1.5em;
}

.wrapper{
    height: 200vh;
} */

.Home-banner-wrapper {
  height: 110vh;
  position: relative;
  overflow: hidden;
}

.banner-circle {
  position: absolute;
  height: 110vh;
  width: 110vh;
  border-radius: 50%;
  background-color: #15605c;
  top: 40%;
  right: -40%;
  transform: translate(-50%, -50%);
}

.banner {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-content,
.banner .banner-image {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-content {
  flex-direction: column;
}

.banner-topic {
  font-weight: bolder;
  font-size: clamp(70px, 3vw, 80px);
  padding-left: 10%;
  line-height: 1.1em;
}

.banner-subTopic {
  font-size: clamp(18px, 3vw, 22px);
  align-self: flex-start;
  padding-left: 10%;
  margin-top: 5px;
  color: #15605c;
  font-size: bold;
}

.banner-cta-wrapper {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding-left: 10%;
  margin-top: 5%;
}

.banner-cta {
  background-color: #ffffff;
  width: 300px;
  height: 60px;
  border: 2px solid #15605c;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: clamp(18px, 3vw, 22px);
  color: #15605c;
  transition: 0.5s ease-in-out;
  gap: 20px;
}

.icon-container {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #15605c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.exapnd-more {
  font-size: 30px;
  color: #ffffff;
  transform: rotate(-90deg);
}

.banner-cta:hover .icon-container {
  transform: translateX(16px);
}

.banner-cta:hover {
  background-color: #15605c;
  color: #ffffff;
}

.banner-cta:hover .icon-container {
  background: #ffffff;
}

.banner-cta:hover .exapnd-more {
  color: #15605c;
}

.banner-img-wrapper {
  height: 450px;
  width: 700px;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
}

.banner-image {
  justify-content: flex-end !important;
  margin-right: 4.5rem;
}

.banner-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Service */

.service-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: -5rem;
}

.service-topic {
  font-size: clamp(35px, 3vw, 48px);
  font-weight: bolder;
}

.service-subtopic {
  font-size: clamp(14px, 3vw, 18px);
  font-weight: bolder;
  color: #15605c;
}

.service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  height: auto;
  margin: 50px 0;
}

.service-container .service-main {
  height: 370px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid #15605c;
}

.service-container .service-main:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.service-container .service-main:hover .service-icon,
.service-container .service-main:hover .service-content-topic,
.service-container .service-main:hover .service-content-des {
  color: #ffffff;
}

.service-main .service-content {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}

.service-icon {
  font-size: 60px;
  color: #15605c;
  transition: all 0.3s ease-in-out;
}

.service-content-topic {
  font-size: clamp(24px, 3vw, 28px);
  color: #15605c;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.service-content-des {
  font-size: clamp(14px, 3vw, 18px);
  line-height: 1.2em;
  transition: all 0.3s ease-in-out;
}

.motto-section-wrapper {
  height: 70vh;
  width: 100%;
  background: #15605c;
  margin-bottom: 20px;
}

.motto-section {
  width: 90%;
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(40px, 3vw, 50px);
  margin: 0 auto;
  text-align: center;
}

.process-wrapper {
  background: #f1ece4;
  height: auto;
  width: 100%;
}

.process-content-container {
  height: 100%;
  width: 85%;
  margin: 50px auto;
}

.process-topic {
  font-size: clamp(35px, 3vw, 48px);
  font-weight: bolder;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.steps-container .steps-content {
  /* height: 180px; */
  width: 100%;
  border-top: 2px solid #000000;
}

.steps-content {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-number {
  color: #e2d6c1;
  font-size: clamp(80px, 3vw, 90px);
  font-weight: bolder;
}

.steps-number,
.steps-des-cont {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps-des-topic,
.steps-des-subdes {
  text-align: end;
}

.steps-des-topic {
  margin: 20px 0;
  font-size: clamp(24px, 3vw, 28px);
  font-weight: bold;
}

.steps-des-subdes {
  font-size: clamp(16px, 3vw, 18px);
}

@media (max-width: 1571px) {
  .banner-circle {
    height: 100vh;
    width: 100vh;
  }

  .banner-img-wrapper {
    height: 450px;
    width: 650px;
  }
}

@media (max-width: 1468px) {
  .banner-circle {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    background-color: #15605c;
    top: 35%;
    right: -50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1342px) {
  .banner-circle {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    background-color: #15605c;
    top: 20%;
    right: -60%;
    transform: translate(-50%, -50%);
  }

  .banner-content {
    margin-bottom: 10rem;
    padding: 10px 0;
  }

  .banner-topic {
    padding: 0 3rem;
    font-size: clamp(65px, 3vw, 80px);
  }

  .banner-subTopic,
  .banner-cta-wrapper {
    padding: 0 3rem;
  }

  .banner-img-wrapper {
    height: 400px;
    width: 35rem;
  }
  
  .banner-image {
    padding: 0;
    justify-content: end !important;
    margin-right: 3rem;
    margin-top: -10rem;
  }
  
  .banner-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .banner-cta-wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1135px) {

  .banner-circle {
    height: 100vh;
    width: 100vh;
    top: 10%;
    right: -70%;
  }

  .banner-topic {
    padding: 0 3.5rem;
    font-size: clamp(60px, 3vw, 80px);
  }

  .banner-subTopic,
  .banner-cta-wrapper {
    padding: 0 3.5rem;
  }

  .banner-image {
    width: 100%;
    margin-right: 3rem;
  }

  .banner-img-wrapper {
    height: 400px;
    width: 100%;
  }

.service-wrapper {
  margin-top: -15rem;
}
}

@media (max-width: 1010px) {
  .Home-banner-wrapper {
    height: auto;
  }

  .banner-circle {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    background-color: #15605c;
    top: 10%;
    right: -70%;
    transform: translate(-50%, -50%);
  }

  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    gap: 2rem;
  }

  .banner-topic {
    padding: 0 3rem;
    font-size: clamp(60px, 3vw, 80px);
  }

  .banner-subTopic,
  .banner-cta-wrapper {
    padding: 0 3rem;
  }

  .banner-img-wrapper {
    height: 500px;
    width: 90%;
  }

  .banner-image {
    justify-content: center !important;
    margin-right: 0;
    width: 100vw;
  }

  .banner-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .service-wrapper {
    margin-top: -5rem;
  }
}

@media (max-width: 820px) {

  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .banner-circle {
    height: 90vh;
    width: 90vh;
    top: 10%;
    right: -105%;
  }

  .banner-topic {
    font-size: clamp(50px, 3vw, 64px);
  }

  .banner-img-wrapper {
    height: 400px;
    width: 90%;
  }

  .service-container .service-main {
    height: auto;
    width: 80%;
    padding: 20px 0;
  }

  .steps-content {
    flex-direction: column;
    align-items: start;
  }

  .steps-des-topic,
  .steps-des-subdes {
    text-align: start;
  }
}

@media (max-width: 600px) {
  .Home-banner-wrapper {
    height: auto;
    margin-bottom: 2rem;
  }


  .banner-circle {
    height: 80vh;
    width: 80vh;
    top: 5%;
    right: -130%;
  }

  .banner {
    margin-top: 19rem;
    gap: 2rem;
  }

  .banner-content {
    padding-top: 0;
    text-align: center;
  }

  .banner-subTopic {
    width: 100%;
  }

  .banner-topic {
    font-size: clamp(35px, 3vw, 64px);
  }

  .banner-topic {
    padding: 0 1.5rem;
  }

  .banner-cta-wrapper {
    width: 100%;
  }

  .service-wrapper {
    margin-top: -10rem;
  }

  .banner-subTopic,
  .banner-cta-wrapper {
    padding: 0 1.5rem;
  }

  .banner-cta {
    margin-top: 1rem;
  }

  .banner-image {
    width: 100%;
    margin-right: 0;
  }

  .banner-img-wrapper {
    height: 300px;
    width: 100%;
  }

  .service-subtopic {
    padding: 0 20px;
    text-align: center;
  }

  .process-wrapper {
    width: 100%;
  }
}


@media (max-width: 495px) {

  .banner-circle {
    height: 50vh;
    width: 50vh;
    top: 5%;
    right: -100%;
  }
}