.case-management>:nth-child(1) {
    background: #595CFC;
}

.case-management>:nth-child(2) {
    background: #8486FF;
}

.case-management>:nth-child(3) {
    background: #4590CF;
}

.case-management>:nth-child(4) {
    background: #7EB2DD;
}

.applications-filters {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    column-gap: 10px;
}

.applications-filters>:nth-child(2) {
    margin-left: 10px;
}

.filter-dropdown {
    height: 40px;
}

.case-management-search {
    margin-top: 0;
    width: 558px;
}

.case-management-filter {
    height: 40px;
    margin: 0 !important;
}

.case-management-select {
    margin: 0 !important;
    height: 40px;
}

.calse-management-filter-select {
    height: 40px;
    margin: 0 !important;
}

.case-nature {
    width: 130px;
}

.case-status-container {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border-radius: 6px;
    overflow: hidden;
}

.case-status-btn {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    color: #7D7D7D;
}

.case-status-btn:hover {
    cursor: pointer;
}

.status-active {
    background: #15605C;
    color: #fff;
}

.applications-section>h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.application-details {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 1rem 0;
}

.application-details>h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-left: 10px;
}