.lawyer-confirm,
.lawyer-cancel,
.lawyer-button-confirm,
.lawyer-button-cancel {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  margin-left: 0.5rem;
  /* Space between buttons */
}

.lawyer-confirm,
.lawyer-button-confirm {
  background-color: #15605C;
  /* Green background */
  color: white;
}

.lawyer-confirm,
.lawyer-button-confirm :hover {
  background-color: #104a48;
  /* Darker green on hover */
}

.lawyer-cancel,
.lawyer-button-cancel {
  background-color: #AEAEAE;
  color: white;
}

.lawyer-cancel-button,
.lawyer-button-cancel:hover {
  background-color: #868383;
}


.scan-document-btn {
  width: 225px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #595CFC;
  color: #fff;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.scan-document-btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.file-btn-container {
  display: flex;
  column-gap: 20px;
}

.excel-header {
  margin: 1rem 0;
  font-weight: 600;
}

/* Loader Styles */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  position: relative;
  width: 100%;
  height: 100%;
}