
.lawyer-sidenav-container {
    height: 100vh;
    width: 320px;
    background: #15605C;
}

.lawyer-side-nav-logo-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 20px;
    /* justify-content: space-between; */
}

.lawyer-logo-word-header {
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
}

.lawyer-logo-word {
    color: #F1ECE4;
    font-size: 14px;
}

.lawyer-dashboard-navLogo {
    width: 60px;
    height: 60px;
}

.lawyer-dashboard-navLogo img {
    width: 100%;
    height: 100%;
}

.lawyer-side-nav-item-container {
    padding: 1.1rem 1px;
}

.lawyer-nav-item-name {
    font-size: 16px;
}

.lawyer-nav-item-name:hover {
    cursor: pointer;
}

.lawyer-side-nav-header {
    color: #E6FFFE;
    font-size: 14px;
    margin: 15px 0;
    padding: 0 20px;
}

.lawyer-nav-items {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 14px;
    flex-direction: column;
    /* row-gap: 20px; */
}

.nav-link {
    text-decoration: none;
    color: #F1ECE4;
    width: 100%;
    padding: 10px 10px 10px 15px;
}

.nav-active {
    background-color: #C1FFFC;
}

.lawyer-nav-item-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.lawyer-nav-item-container div {
    display: block;
}
