.custom-cursor * {
    cursor: none;
  }

.cursor-dot,
.cursor-dot-outline{
    z-index: 99999;
    pointer-events: none;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, tranform 0.3s ease-in-out;
}

.cursor-dot{
    width: 10px;
    height: 10px;
    background-color: #dc5656;
}

.cursor-dot-outline{
    width: 30px;
    height: 30px;
    background-color: rgba(229, 128, 128, 0.5);
}
