.popup-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Align to the right */
  z-index: 99;
}

.popup-container {
  background-color: #E9E9E9;
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
  margin: 1rem 0;
}

.popup-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.close-button {
  color: #6b7280;
  background: transparent;
  border: none;
}

.close-button:hover {
  color: #374151;
  cursor: pointer;
}

.popup-content {
  padding: 1rem;
}

.section {
  margin-bottom: 1rem;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: #15605C;
  color: white;
  border-radius: 0.5rem;
  border: none;
}

.section-header:hover {
  cursor: pointer;
}

.section-content {
  margin-top: 0.5rem;
  padding: 2rem 1rem;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  border-radius: 10px;

}

.section-content h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 7px;
}

.form-field label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.25rem;
}

.form-field input {
  padding: 0.5rem;
  border: 1px solid #CBCBCB;
  border-radius: 0.25rem;
  width: 100%;
  height: 40px;
  color: #5B5959;
}

.document-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.document-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
}

.document-filename {
  display: block;
  font-size: 0.875rem;
  color: #059669;
}

.document-actions {
  display: flex;
  gap: 0.5rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.icon-button.delete {
  background-color: #FEE2E2;
  color: #EF4444;
}

.icon-button.add {
  background-color: #D1FAE5;
  color: #10B981;
}

.icon-button:hover {
  opacity: 0.8;
}

/* Footer and buttons */
.popup-footer {
  display: flex;
  justify-content: flex-start;
  /* Align buttons to the right */
  padding: 0.5rem;
  /* border-top: 1px solid #e5e7eb; */
}

.confirm-button,
.cancel-button {
  width: 130px;
  height: 36px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  margin-left: 0.5rem;
  /* Space between buttons */
}

.confirm-button {
  background-color: #15605C;
  /* Green background */
  color: white;
}

.confirm-button:hover {
  background-color: #104a48;
  /* Darker green on hover */
}

.cancel-button {
  background-color: #AEAEAE;
  /* Yellow background */
  color: white;
}

.cancel-button:hover {
  background-color: #D97706;
  /* Darker yellow on hover */
}

.section-btn-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: #ffffff;
  justify-content: center;
}

.layer-detail-container {
  grid-template-columns: repeat(1, 1fr);
  width: 50%;
  padding-right: 8px;
  gap: 0;
}

.case-type-select {
  padding: 0.5rem;
  border: 1px solid #CBCBCB;
  border-radius: 0.25rem;
  width: 100%;
  height: 40px;
  color: #5B5959;
  background: transparent;
}

.case-remark-containerz {
  grid-template-columns: repeat(1, 1fr);
  padding-right: 8px;
  gap: 0;
}

.add-document-btn {
  background: #15605C;
  width: 130px;
  height: 36px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.add-doc-btn-container {
  margin-top: -12px;
}

.remark-form-grid {
  grid-template-columns: repeat(1, 1fr);
  padding-right: 8px;
  gap: 0;
}

.case-remark {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #CBCBCB;
  border-radius: 6px;
}