
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); 
    border-left-color: #ffffff; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* animation: spin 1s linear infinite; */
}

/* @keyframes spin {
    to {
        transform: rotate(360deg);
    }
} */

