@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* handel */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.pageNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
